.App {
  text-align: center;
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;

    .App-logo {
      animation: App-logo-spin infinite 20s linear;
      height: 20vmin;
      pointer-events: none;
    }

    h1 {
      font-size: 5rem;
      color: #60ff95;
    }

    .App-link {
      color: #23a323;
    }

    @keyframes App-logo-spin {
      from {
        transform: rotateY(0deg);
      }
      to {
        transform: rotateY(360deg);
      }
    }
  }
}





